/INPUT/kurzy_raw/nove/
/INPUT/kurzy_clean/
/INPUT/backup/
/INPUT/vysledky_utf8/
/databaza_clean/2014-11.json
/databaza_clean/2015-07.json
/databaza_clean/2015-11.json
/databaza_clean/2015-04.json
/databaza_clean/2015-01.json
/databaza_clean/2015-03.json
/databaza_clean/2015-06.json
/databaza_clean/2016-01.json
/databaza_clean/2015-02.json
/databaza_clean/2016-03.json
/databaza_clean/2015-09.json
/databaza_clean/2015-05.json
/databaza_clean/2015-08.json
/databaza_clean/2016-02.json
/databaza_clean/2015-12.json
/databaza_clean/2014-12.json
/databaza_clean/2015-10.json
/databaza_raw/
/processed/
/emaily2.json
/emailyDB.json
/emaily9.json
/emaily5.json
/emaily4.json
/emaily1.json
/emaily8.json
/emaily10.json
/emaily3.json
/emaily6.json
/emaily.json
/emaily7.json
/target/